.header_elred {
  height: 44px;
  display: flex;
  align-items: center;
  padding: 0 20px;

  img{
    cursor: pointer;
    height: 17px;
    width: 67px;
  }

  .header-elred-logo-shimmer {
    display: "inline-flex";
    margin-bottom: 4px;
  }
}
